{{- $data := dict "@context" "https://schema.org" -}}
{{- if .IsHome -}}
{{- $data = merge $data (dict "@type" "WebSite" "name" .Site.Title "url" .Site.BaseURL "description" .Site.Params.description) -}}
{{- else if .IsPage -}}
{{- $type := "WebPage" -}}
{{- if eq .Section "posts" }}{{ $type = "BlogPosting" }}{{ end -}}
{{- $data = merge $data (dict "@type" $type "headline" .Title "url" .Permalink "description" (.Description | default (.Summary | plainify)) "datePublished" (.PublishDate.Format "2006-01-02") "dateModified" (.Lastmod.Format "2006-01-02") "author" (dict "@type" "Person" "name" (.Params.author | default .Site.Params.author) "url" ("about/" | absURL))) -}}
{{- with .Params.cover.image }}{{ $data = merge $data (dict "image" (. | absURL)) }}{{ end -}}
{{- end -}}
{{- if or .IsHome .IsPage }}<script type="application/ld+json">{{ $data | jsonify | safeJS }}</script>{{ end -}}
